@import "../styles/variables";

.section {
  &.white {
    background-color: $white;

    h1 {
      color: $black;
    }

    p {
      color: $black;
    }

    code {
      color: $white;
      background-color: $black;
    }
  }

  &.black {
    background-color: $black;

    h1 {
      color: $white;
    }

    p {
      color: $white;
    }

    code {
      color: $black;
      background-color: $white;
    }
  }
}
