@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");

@import "../../styles/variables";
@import "../../styles/breakpoints";

.section {
  .title {
    font-family: "Kanit", sans-serif;
  }

  .body {
    font-family: "Work Sans", sans-serif;
  }

  &.light {
    background-color: $light;

    .title {
      color: $dark;
    }

    .body {
      color: $dark;

      .code {
        color: $light;
        background-color: $dark;
      }
    }
  }

  &.dark {
    background-color: $dark;

    .title {
      color: $light;
    }

    .body {
      color: $light;

      .code {
        color: $dark;
        background-color: $light;
      }
    }
  }

  @include b0 {
    padding: 5vw 0 10vw;

    .title {
      margin-bottom: 20px;
      font-size: 10vw;
    }

    .body {
      font-size: 5vw;
    }
  }

  @include b1 {
    padding: 30px 0 55px;

    .title {
      margin-bottom: 30px;
      font-size: 1rem;
    }

    .body {
      font-size: 0.75rem;
    }
  }

  @include b2 {
    padding: 50px 0 75px;

    .title {
      margin-bottom: 75px;
      font-size: 2.5rem;
    }

    .body {
      font-size: 1.75rem;
    }
  }

  @include b3 {
    .title {
      font-size: 3rem;
    }

    .body {
      font-size: 1.5rem;
    }
  }
}
