@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");

@import "../../styles/variables";

.Section {
  padding: 50px 0 75px;

  h1 {
    font-family: "Kanit", sans-serif;
    font-size: 3rem;
  }

  p {
    font-family: "Work Sans", sans-serif;
    font-size: 1.5rem;
  }

  &.Light {
    background-color: $light;

    h1 {
      color: $dark;
    }

    p {
      color: $dark;

      .Code {
        color: $light;
        background-color: $dark;
      }
    }
  }

  &.Dark {
    background-color: $dark;

    h1 {
      color: $light;
    }

    p {
      color: $light;

      .Code {
        color: $dark;
        background-color: $light;
      }
    }
  }
}
